.font-1{
    font-size: 12px;
}

.ul-setting{
    list-style-type: none;
}

.li-setting{
    font-size: 13px;
}

.yaladige{
    position: relative;
    top: 120px;
    text-align: right;
}

.btn-g-setting{
    position: relative;
    right: 900px;
    bottom: 200px;
}

.btn-sabad{
    text-decoration: none;
    color: white;
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-heart{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-ja{
    position: relative;
    bottom: 70px;
}